@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

/*VARIABLES*/
:root{
    --primary-color: rgb(0, 0, 255);
    --secondary-color: rgb(255, 255, 0);
    --black: rgb(17, 17, 17);
    --white: rgb(255, 255, 255);
    --red: rgb(255, 0, 0);
}

/*GENERAL STYLES*/
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0; padding: 0;
    color: var(--black) !important;
}

body{
    font-family: 'DynaPuff', cursive !important;
    overflow-x: hidden;
}

figure{
    width: 100%;
    height: 100%;
}

textarea{
    resize: none !important;
}

.img-fluid {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.d-flex{
    gap: 3rem;
}

.object-contain{
    object-fit: contain;
}

.fa-solid.fa-bars{
    font-size: 2rem;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.fa-solid.fa-bars:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.btn{
    background-color: var(--secondary-color) !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
}

.primary-background{
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

/*HEADER*/
#header nav{
    background-color: var(--white) !important;
}

#header .navbar-brand{
    color: var(--primary-color) !important;
    font-size: 1.6rem;
}

/*HERO*/
#header .hero{
    min-height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0)), url('../assets/hero-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

#header .hero .d-flex{
    gap: 0;
}

#header .hero h2{
    color: var(--white) !important;
    text-shadow: 2px 2px 2px var(--black);
}

#header .hero h2 span{
    color: var(--white) !important;
    text-shadow: 2px 2px 2px var(--black);
}

#header .hero button i{
    transform: translateX(-5rem);
    transition: transform .2s ease;
    position: absolute;
}

#header .hero button{
    animation: move 0.9s linear 0s infinite alternate;
    transition: all .2s ease;
    overflow: hidden;
}

#header .hero button:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
}

#header .hero button:hover i{
    position: static;
    transform: translateX(0rem);
}

@keyframes move {
    0%   {
        transform: rotate(0);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

/*ABOUT*/
#about p{
    font-weight: lighter;
}

/*PLACES*/
#places .grid div {
    margin: 1.4rem 0 0 0;
}

#places .grid .col-md-4{
    position: relative;
    margin: 1.4rem 0 0 0;
    overflow: hidden;
}

#places .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 94.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.642);
    transition: transform .2s ease;
}

#places .col-md-4:hover .overlay{
    transform: translate(-50%, -60%) !important;
    cursor: pointer;
}

#places .overlay h3,
#places .overlay p{
    color: var(--white) !important;
}

/*BLOG*/
#blog .article > div{
    border-radius: 0.5rem;
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    width: 15rem;
}

#blog figure{
    height: 10rem !important;
}

#blog .article{
    display: flex;
}

#blog .article .text{
    height: 100%;
}

#blog .article .content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#blog .row > div h5{
    font-size: 1.3rem;
}

#blog .row > div p{
    opacity: 0.5;
}

#blog .row > div .readmore{
    color: var(--primary-color) !important;
    transform: translateY(-1rem);
    font-size: 0.85rem;
    display: inline-block;
}

/*CONTACT*/
#contact{
    max-width: 70%;
    margin: 0 auto;
}

/*MEDIA QUERIES*/
@media (max-width: 991.98px) {
    html{
        font-size: 62.5%;
    }
}

@media (max-width: 767px) {
    #about figure img{
        width: 50%;
    }

    #places .col-12 .overlay{
        width: 96.9%;
    }

    #places .col-md-4:hover .overlay{
        transform: translate(-50%, -50%) !important;
        height: 140%;
    }
}